<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Laundry"
        tools:targetApi="31">
        <activity
            android:name=".Users.Pesanan.DetailViewOrder"
            android:exported="false" />
        <activity
            android:name=".Order"
            android:exported="false" />
        <activity
            android:name=".Users.Pesanan.ViewOrderActivity"
            android:exported="false" />
        <activity
            android:name=".Store.Jasa.JasaOrderAdapter"
            android:exported="false" />
        <activity
            android:name=".Users.Pesanan.OrderJasaActivity"
            android:exported="false" />
        <activity
            android:name=".Store.EditStoreActivity"
            android:exported="false" />
        <activity
            android:name=".Store.SingupStoreActivity"
            android:exported="false" />
        <activity
            android:name=".Store.LoginStoreActivity"
            android:exported="false" />
        <activity
            android:name=".Store.Jasa.EditJasaActivity"
            android:exported="false" />
        <activity
            android:name=".Store.Pesanan.ViewPesananActivity"
            android:exported="false" />
        <activity
            android:name=".Store.Jasa.JasaActivity"
            android:exported="false" />
        <activity
            android:name=".Store.Jasa.AddJasaActivity"
            android:exported="false" />
        <activity
            android:name=".Store.StoreActivity"
            android:exported="false" />
        <activity
            android:name=".Users.EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".Users.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Store.Pesanan.DetailViewPesanan" />
        <activity
            android:name=".Users.SignupActivity" />
        <activity android:name=".Users.MainActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>